/**
 * Parameters
 */

@import "layout.less";

/**
 * Mixins
 */

.box.ultree,
.box {
    .box-layout;
    @radius: 2px;
    @border-color:#DDD; 
    
    border-style: solid;
    border-width: 1px;
    border-radius: @radius;
    border-color:@border-color;
    padding:5px;
    padding-top:2em;
    padding-bottom:2em;
    
    .corner{
        border-width:inherit;
        border-color:inherit;
        padding-top:2px;
        padding-bottom:2px;
        padding-right:5px;
        padding-left:5px;
        
        input{
            border-top:none;
            border-right:none;
            border-left:none;
        }
    }
    
    .top-right{
        .corner;
        
        border-left-style:inherit;
        border-bottom-style:inherit;
        border-bottom-left-radius:inherit;
    }
    
    .top-left{
        .corner;
        
        border-right-style:inherit;
        border-bottom-style:inherit;
        border-bottom-right-radius:inherit;
    }
    
    .bottom-left{
        .corner;
        
        border-right-style:inherit;
        border-top-style:inherit;
        border-top-right-radius:inherit;
    }
    
    .bottom-right{
        .corner;
        
        border-left-style:inherit;
        border-top-style:inherit;
        border-top-left-radius:inherit;
    }
}