@ul-handle-size: 1em;
 @ul-gutter: 1.2em;
 @ul-handle-collapsed:"\25BA";
 @ul-handle-expanded:"\25BC";
 ul.ultree {
    list-style-type:none;
    padding-left:0;
    margin-left:@ul-gutter;
    & > li, ul > li {
        position:relative;
        cursor:default;
    }
    li > ul {
        list-style-type:none;
        padding-left:0;
        margin-left:@ul-gutter;
        cursor:pointer;
        height:0;
        overflow:hidden;
        
    }
    li.in > ul {
        height:auto;
    }
    ul:before {
        position:absolute;
        left:0;
        top:0;
        margin-left:-@ul-gutter;
        display:inline-block;
        width:@ul-handle-size;
        height:@ul-handle-size;
        text-align:center;
        font-weight:bold;
        font-size:smaller;
        content:@ul-handle-collapsed;
    }
    li.in > ul:before {
        content:@ul-handle-expanded;
    }
}